.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
.label {
  font-size: 18px;
}
.searchBar {
  width: 400px;
  padding: 12px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
}

.searchBar:focus {
  border-color: black;
}
